[Unit]
Description=test docker compose unit
After=docker.service

[Service]
ExecStart=/usr/bin/docker-compose -f {{ item.root_dir }}/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f {{ item.root_dir }}/docker-compose.yml down

[Install]
WantedBy=docker.service
